html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* fills remaining space between navbar and footer */
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
